@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*
    {

        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
:root 
    {
        --cor-primaria: #FF0000;
        --cor-secundaria: #FFB90F;
        --cor-tercearia: #1A1A1A;
        --cor-hover: #e7838d;
        --cor-hover2: #A67C00;
        /*--cor-secundaria:  #FDBF11;*/
    }
    
body
    {
        background-color: var(--cor-tercearia);
        height: 100vh;
    }

.interface
    {
        max-width: 1280px;
        margin: 0 auto;

    }
    